body {
  padding: 20px;
  color: #1d1d1d;
  background-color: #f9f9f9;
}

h1,
h2,
h3,
h4 {
  font-family: "Comfortaa", sans-serif;
}

p,
button,
a {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
}

h1 {
  text-align: center;
  font-weight: 400;
}

button {
  background-color: #2c75ff;
  border: 0.1rem solid #2c75ff;
  padding: 10px 40px;
  color: #f9f9f9;
  border-radius: 20px;
  cursor: pointer;
}

input {
  padding: 10px;
  border: none;
  border-bottom: 1px solid #1d1d1d;
  font-family: "Montserrat", sans-serif;
  background-color: transparent;
  outline: none;
}

input:focus {
  border-bottom: 1px solid #2c75ff;
}

.hidden {
  display: none;
}

hr {
  margin: 40px 0;
}

#registerLoginForms {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  border-radius: 5px;
  margin: 20px 0;
}

#registerLoginForms form {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 0px;
          flex: 1 1 0px;
  padding: 10px;
  margin-bottom: 0;
  text-align: center;
}

#registerLoginForms form div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

#registerLoginForms form input {
  margin-bottom: 20px;
}

#registerLoginForms form button {
  width: 50%;
  margin: 20px 0;
}

#registerLoginForms form h2 {
  text-align: center;
}

#registerLoginForms form:nth-child(1) {
  background-color: white;
  border-radius: 20px;
  -webkit-box-shadow: 0px 0px 20px 0px #dedede;
          box-shadow: 0px 0px 20px 0px #dedede;
}

#registerLoginForms form:nth-child(1) input {
  width: 45%;
}

#registerLoginForms form:nth-child(2) input {
  width: 100%;
}

#bookmarks {
  padding: 10px 20px;
  margin: 20px 0;
  background-color: white;
  border-radius: 20px;
  -webkit-box-shadow: 0px 0px 20px 0px #dedede;
          box-shadow: 0px 0px 20px 0px #dedede;
}

#favoriteList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  list-style-type: none;
  margin-bottom: 0;
  padding: 0;
}

#favoriteList li {
  margin: 5px;
  position: relative;
}

#favoriteList .deleteFavoriteButton {
  padding: 0 1rem;
}

#searchForm div {
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#searchForm div label {
  font-family: "Comfortaa", sans-serif;
}

#searchForm div select,
#searchForm div input {
  min-width: 49%;
}

#newsList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#newsList article {
  width: 30vw;
  margin: 10px;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 30%;
          flex: 1 0 30%;
  background-color: white;
  border-radius: 20px;
  -webkit-box-shadow: 0px 0px 20px 0px #dedede;
          box-shadow: 0px 0px 20px 0px #dedede;
}

#newsList article figure {
  margin: 0;
  position: relative;
}

#newsList article figure span {
  position: absolute;
  top: 5px;
  left: 5px;
  background-color: #2c75ff;
  color: white;
  padding: 5px 15px;
  border-radius: 20px;
}

#newsList article figure img {
  border-radius: 20px;
  width: 100%;
}

#newsList article div:nth-child(2) {
  margin: 20px;
}

#newsList article a {
  text-transform: uppercase;
  font-size: 14px;
  text-decoration: underline;
}

#favoriteButton.disable {
  pointer-events: none;
  background-color: grey;
}
/*# sourceMappingURL=style.css.map */