.hidden {
    display: none;
}

#bookmarks {
    border: 1px solid grey;
    padding: 10px;
    margin: 20px 0;
}

#favoriteList {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    margin-bottom: 0;

    li {
        margin: 5px;
        position: relative;

    }

    .deleteFavoriteButton {
        padding: 0 1rem;

    }
}

article {
    display: flex;
    position: relative;
    margin: 20px;
    width: 80vw;
    margin: 10px auto;

    figure {
        margin: 0;
    }

    span {
        position: absolute;
        top: 0;
        left: 0;
        background-color: black;
        color: white;
        padding: 5px 10px;
    }

    div:nth-child(1),
    div:nth-child(2) {
        width: 50%;
    }

    div:nth-child(2) {
        margin-left: 20px;
    }

    a {
        text-transform: uppercase;
        font-size: 14px;
        text-decoration: underline;
    }
}

#favoriteButton {

    &.disable {
        pointer-events: none;
        background-color: grey;
    }
}